.dark-vbox {
    -fx-background-color: #E1D9D1; /* Dominant background color */
    -fx-padding: 20px;
}

.dark-label {
    -fx-text-fill: #3b1c00; /* Text color for labels */
}

.dark-combobox .list-cell {
    -fx-background-color: #3b1c00; /* Background color of the list cells */
    -fx-text-fill: #E1D9D1; /* Text color of the list cells */
}

.dark-combobox .list-view {
    -fx-background-color: #E1D9D1; /* Background color of the dropdown */
}

.dark-combobox .list-view .cell {
    -fx-background-color: #E1D9D1; /* Background color of each item in the dropdown */
    -fx-text-fill: #3b1c00; /* Text color of each item in the dropdown */
}

.dark-combobox .list-view .cell:hover {
    -fx-background-color: #C2BAA1; /* Background color of a hovered item in the dropdown */
}

.dark-combobox .list-view .cell:filled:selected {
    -fx-background-color: #9C8C74; /* Background color of a selected item in the dropdown */
    -fx-text-fill: #E1D9D1; /* Text color of a selected item in the dropdown */
}

.dark-combobox .list-view .cell:filled:focused {
    -fx-background-color: #9C8C74; /* Background color of a focused item in the dropdown */
    -fx-text-fill: #E1D9D1; /* Text color of a focused item in the dropdown */
}

.dark-combobox .list-view .cell:filled:selected:focused {
    -fx-background-color: #9C8C74; /* Background color of a selected and focused item in the dropdown */
    -fx-text-fill: #E1D9D1; /* Text color of a selected and focused item in the dropdown */
}

.modern-vbox {
    -fx-spacing: 10;
    -fx-padding: 20;
}

.modern-label {
    -fx-font-size: 14px;
    -fx-text-fill: #3b1c00;
}

.modern-combobox {
    -fx-font-size: 14px;
    -fx-background-color: #E1D9D1;
    -fx-border-color: #3b1c00;
}

.modern-button {
    -fx-font-size: 16px;
    -fx-background-color: #3b1c00;
    -fx-text-fill: white;
}

.modern-table-view {
    -fx-font-size: 14px;
    -fx-background-color: #3b1c00;
    -fx-border-color: #3b1c00;
}

.table-cell {
    -fx-alignment: CENTER;
}

.dark-datepicker {
    -fx-pref-width: 18ex;
    -fx-control-inner-background: #E1D9D1;
    -fx-control-inner-border: derive(#E1D9D1, 20%);
    -fx-control-inner-background-alt: derive(#E1D9D1, 30%);
    -fx-control-inner-border-alt: derive(#E1D9D1, 50%);
    -fx-text-fill: #3b1c00;
    -fx-font-size: 14px;
}

.dark-datepicker .arrow-button {
    -fx-background-color: #E1D9D1;
}

.dark-datepicker .arrow-button:hover {
    -fx-background-color: #E1D9D1;
}

.dark-datepicker .arrow-button:pressed {
    -fx-background-color: #9C8C74;
}

.dark-button {
    -fx-background-color: #E1D9D1;
    -fx-text-fill: #3b1c00;
    -fx-font-size: 14px;
    -fx-padding: 8px 12px;
    -fx-background-radius: 5px;
}

.dark-button:hover {
    -fx-background-color: #C2BAA1;
}

#loginPane {
    -fx-background-color: #E1D9D1;
    -fx-padding: 20;
}

.dark-text-field {
    -fx-background-color: #3b1c00;
    -fx-text-fill: #3b1c00;
    -fx-pref-width: 150px;
}

.dark-login-button {
    -fx-background-color: #3b1c00;
    -fx-text-fill: white;
    -fx-pref-width: 150px;
}
.dark-login-button:hover {
    -fx-background-color: #E1D9D1;
    -fx-text-fill: white;
    -fx-pref-width: 150px;
}

#dashboardPane {
    -fx-background-color: #E1D9D1;
    -fx-padding: 20;
    -fx-alignment: center;
}

.label {
    -fx-text-fill: #3b1c00;
    -fx-font-size: 14px;
}
