* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #E1D9D1;
    color: #E1D9D1;
    margin: 0;
    padding: 0;
}

.filterForm, .transactionForm, .statusForm {
    text-align: center;
    background-color: #E1D9D1;
    font-weight: bolder;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);

}
h2{
    color: #3b1c00;
    /*text-shadow: 2px 2px 4px #3b1c00, -2px -2px 4px #E1D9D1;*/
}

h3 {
    font-size: 20px;
    margin: -2px;
}

.transactionForm {
    position: absolute;
    width: 28.8ex;
    margin-left: 25ex;
}

.filterForm {
    position: absolute;
    width: 28.8ex;
    margin-left: 223ex;
    margin-top: 78ex;
}

label {
    display: block;
    margin-bottom: 8px;
    /*color: #3b1c00;*/

    text-shadow: 0px 0px 3px #3b1c00;
    -webkit-text-stroke: 1px #3b1c00; /* For WebKit-based browsers like Chrome and Safari */
    /*text-stroke: 2px #3b1c00; !* Standard syntax *!*/

}
/* Simulating text border with text-shadow */
/*label {*/
/*    color: #3b1c00; !* Text color *!*/
/*    text-shadow:*/
/*            -1px -1px 0 #3b1c00,*/
/*            !*1px -1px 0 #3b1c00,*!*/
/*            !*-1px  1px 0 #3b1c00,*!*/
/*            1px  1px 0#3b1c00;*/
/*}*/

select,
input {
    font-weight: bolder;
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(44, 43, 43, 0.84);
    /*border: 10px solid #E1D9D1;*/
    border-radius: 4px;
    background-color: #3b1c00;
    color: #E1D9D1;
}

select {
    font-size: 15px;
    color:  #E1D9D1;
}

/*input[type=submit] {*/
/*    width: 10ex;*/
/*    color: #4CAF50;*/
/*}*/

button {
    background-color: #3b1c00;
    color: #E1D9D1;
    font-weight: bolder;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(44, 43, 43, 0.84);
}

button:hover {
    color: #3b1c00;
    background-color: #E1D9D1;
}
.delete-button:hover {
    color: #3b1c00;
    background-color: #E1D9D1;
}

.table-container {
    /*margin-top: 85px;*/
    margin-top: 15px;
    margin-left: 95px;
    max-height: 75ex;
    min-height: 75ex;
    overflow-y: auto;
    border: 25px solid #E1D9D1;
    scrollbar-color: #3b1c00 #E1D9D1;
    border-collapse: separate;
    border-spacing: 5px;
}

table {
    background-color: #E1D9D1;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
}

.table-container::-webkit-scrollbar {
    width: 5px;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 6px;
}

.table-container::-webkit-scrollbar-track {
    background-color: #000000;
}
button[type=button]{
    margin-bottom: 10px;
}
th,
td {
    padding: 8px;
    text-align: center;
    font-size: 25px;
    color: #3b1c00;
    font-weight: bolder;
}
td{
    text-shadow: 0px 0px 2px #3b1c00;
    -webkit-text-stroke: 1px #3b1c00; /
}

th {
    color: #E1D9D1;
    /*text-shadow: 0px 0px 3px #E1D9D1;*/
    /*-webkit-text-stroke: 0.5px #E1D9D1; /*/
    transition: background-color 0.3s ease;
    box-sizing: border-box;
    box-shadow: 0 0 40px rgba(44, 43, 43, 0.84);
    font-size: 25px;
    padding: 30px;
    background-color: #210202;
}

.delete-button {
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    background-color: #3b1c00;
    color: #E1D9D1;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
    box-shadow: 0 0 7px rgba(44, 43, 43, 0.84);
    /*text-shadow: 0px 0px 3px #E1D9D1;*/
    /*-webkit-text-stroke: 10px #E1D9D1; !* For WebKit-based browsers like Chrome and Safari *!*/
    text-decoration: none;
    border-radius: 4px;
}

thead {
    background-color: #070505;
    color: #E1D9D1;
    position: sticky;
    top: 0;
    padding: 4px;
    margin-top: 0;
}

.table-container {
    max-height: 65ex;
    overflow-y: auto;
    position: relative;
}

table {
    width: 245ex;
    background-color: #E1D9D1;
    margin-top: 0;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
}

.delete-button:hover {
    opacity: 0.8;
}

/*.statusForm {*/
/*    color: #bbb;*/
/*}*/

h5,
h6 {
    margin-bottom: 10px;
    color: #E1D9D1;
}

.expense-info,
.balance-info,
.one-card-info,
.axis-ace-info,
.axis-flipkart-info,
.hdfc-swiggy-info {
    width: 40ex;
    height: 15ex;
    text-align: center;
    position: absolute;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    cursor: pointer;
    color: #E1D9D1;
    font-size: 12px;
    font-weight: bolder;
    background-color: #E1D9D1;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.expense-info {
    margin-top: 40px;
    margin-left: 90ex;
    z-index: 100;

}

.one-card-info {
    margin-top: 40px;
    margin-left: 210ex;
    z-index: 104;
}

.balance-info {
    margin-top: 40px;
    margin-left: 150ex;
    z-index: 102;
}

.axis-ace-info {
    margin-top: 20ex;
    margin-left: 180ex;
    z-index: 103;
}

.axis-flipkart-info {
    margin-top: 20ex;
    margin-left: 240ex;
    z-index: 105;
}

.hdfc-swiggy-info {
    margin-top: 20ex;
    margin-left: 120ex;
    z-index: 101;
}

.expense-info:hover,
.balance-info:hover,
.hdfc-swiggy-info:hover,
.axis-flipkart-info:hover,
.axis-ace-info:hover,
.one-card-info:hover{
    box-sizing: border-box;
    box-shadow: 0 0 15px rgba(44, 43, 43, 0.84);
    background-color: #3b1c00;
}
.expense-info:hover .hidden-text {
    display: block;
}
.balance-info:hover .hidden-text {
    display: block;
}
.hdfc-swiggy-info:hover .hidden-text {
    display: block;
}
.axis-flipkart-info:hover .hidden-text {
    display: block;
}
.axis-ace-info:hover .hidden-text {
    display: block;
}
.one-card-info:hover .hidden-text {
    display: block;
}

select:hover,
input[type=text]:hover {
    background-color: #3b1c00;
}

input[type=text] {
    text-align: center;
    background-color: #3b1c00;

}
h5{margin-top: 25px;
    font-size: 25px;
    font-weight: bolder;
    color: #3b1c00;
    /*text-shadow: 0px 0px 3px #3b1c00;*/
    /*text-shadow: 0px 0px 3px #3b1c00;*/
    /*-webkit-text-stroke: 5px #3b1c00;*/
    /*-webkit-text-stroke: 1px #3b1c00;*/
    /*background-color: #3b1c00;*/
}
.hidden-text{
    margin-top: -44px;
    font-size: 25px;
    font-weight: bolder;
    color: #E1D9D1;
    display: none;

}
/*select li:hover {*/
/*    background-color: transparent !important;*/
/*    color: inherit !important;*/
/*}*/
/*.dropdown li:hover {*/
/*    background-color: transparent !important;*/
/*    color: inherit !important;*/
/*}*/
/*.filterForm {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*}*/

/*.filterForm select {*/
/*    padding: 8px;*/
/*    font-size: 16px;*/
/*}*/

/*.filterForm select:hover {*/
/*    !* Add any styles you want when the dropdown is hovered *!*/
/*    !* For example, change background color *!*/
/*    background-color: #e0e0e0;*/
/*}*/

/*.filterForm option:hover {*/
/*    !* Add any styles you want for the individual options when hovered *!*/
/*    !* For example, change text color *!*/
/*    color: #ff5733;*/
/*}*/

/* make it red instead (with with same width and style) */
/*select:active, select:hover {*/
/*    outline-color: red*/
/*}*/
/*select option:checked:after {*/
/*    content: attr(title);*/
/*    background: #666;*/
/*    color: #fff;*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    left: 0;*/
/*    border: none;*/
/*}*/
/*select option:hover {*/
/*    box-shadow: 0 0 10px 100px green inset;*/
/*    color:white;*/
/*}*/
/*select option:checked{*/
/*    box-shadow: 0 0 10px 100px green inset;*/
/*}*/
option:hover {
    background-color: yellow;
}
